.btn-corner {
    @include btn-corner;
}

.hover-bg-black {
    a {
        color: $black;

        &:hover {
            background: $black;
            color: $white;
            opacity: 1;
            transition: 0.8s;
        }
    }
}

.hover-primary {
    &:hover {
        color: $primary;
    }
}

.btn-corner-w{
    @include btn-corner(){
        background-color: $white;
    }
}



.wallet-check{
    label{
        i{  
            display: none;
            margin-left: auto;
        }
    
        &:hover{
            background: $primary;
            color: $white;
        }
    }
    label.active{
        i{
            display: block;
            color: $primary;
        }
        border: 1px solid $primary !important;
        &:hover{
            i{
                color: $white;
            }
        }
    }
        
}

.btn-close{
    background-image: none;
    opacity: 1;
    font-size: $h5-font-size;
    &:hover{
        color: $primary;
        opacity: 1;
    }
}