.text-NotoSansTC{
    font-family: "Noto Sans TC"
}

.text-PaytoneOne{
    font-family: "Paytone One";
}

.letter-spacing-lg {
    letter-spacing: 0.26rem;
}

.title-corner {
    position: relative;
    display: flex;
    align-items: end;
    line-height: 1;
    border-bottom: 1px solid $black;
    margin-bottom: $spacer * 6;

    @include media-breakpoint-up(lg) {
        margin-bottom: $spacer * 12;
    }

    h2 {
        line-height: 1;
        font-size: $h2-font-size;
        margin-bottom: $spacer * 2;

        @include media-breakpoint-up(lg) {
            font-size: $h1-font-size;
            margin-bottom: $spacer * 4;
        }
    }

    p {
        font-weight: bold;
        margin-left: $spacer * 4;
        font-size: $h5-font-size;
        margin-bottom: $spacer * 2;
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
            margin-bottom: $spacer * 4;
        }
    }

    .btn-corner {
        border: 1px solid transparent;
        border-bottom: 0;
        margin-left: auto;
        &:hover {
            border: 1px solid $black;
            border-bottom: 0;
        }
    }
}