@mixin img-zoomin {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
    }

    &:hover {
        img {
            transform: scale(1.05);
            transition: 0.5s;
        }
    }
    @content;
}

@mixin img-object-cover {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @content;
    }
}

@mixin card-Ranking {
    
    .card {
        border: 1px solid $black;
        position: relative;
        @include img-zoomin();   
        

        &-no {
            font-family: "noto sans TC";
            font-weight: bold;
            background: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $h2-font-size;
            width: 64px;
            height: 64px;
            border-right: 1px solid $black;
            border-bottom: 1px solid $black;
            position: absolute;
            z-index: 2;
            left: 0;
            top: 0;
        }

        &-img{
            height: 374px;
            overflow: hidden;
            border-bottom: 1px solid $black;
            background: $black;
            position: relative;
            .btn-corner{
                position: absolute;
                background: $primary;
                z-index: 2;
                right: 0;
                bottom: 0;
                color: $white;
                opacity: 0;
                transition: 0.5s;
                &::after{
                    border-bottom: $spacer * 4 $black solid;
                }
            }
            
        }

        &-body {
            padding: 0;
            h5 {
                padding: $spacer * 4;
                font-size: $h6-font-size;
                margin-bottom: 0;
                width: 100%;
                border-bottom: 1px solid $black;
            }
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            p {
                line-height: 1;
                padding: $spacer * 2 $spacer * 4;
                i {
                    margin-right: $spacer *2;
                    font-size: $font-size-sm;
                }
            }
        }
        &:hover{
            .btn-corner{
                opacity: 1;
                transition: 0.5s;
            }
            img{
                opacity:0.5;
            }
        }
    }
}

@mixin card-Ranking-s {
    .card {
        display: flex;
        flex-direction: row;
        border: 1px solid $black;
        @include img-zoomin();

        &-no {
            position: static;
            height: auto;
            width: auto;
            font-family: "noto sans TC";
            font-weight: bold;
            background: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $h4-font-size;
            border-right: 1px solid $black;
            border-bottom: 0;
            padding: 0 $spacer * 2;
        }

        &-img{
            max-height: 90px;
            max-width: 90px;
            overflow: hidden;
            border-right: 1px solid $black;
            position: relative;
            .btn-corner{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba( $black , 0.7);
                z-index: 2;
                right: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                color: $white;
                opacity: 0;
                transition: 0.5s;
                &::after{
                    border-bottom: $spacer * 4 $primary solid;
                }
            }
        }

        &-body {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0;
            h5 {
                padding: $spacer * 4;
                font-size: $h6-font-size;
                margin-bottom: 0;
                width: 100%;
                border-bottom: 1px solid $black;
            }
            p {
                line-height: 1;
                padding: $spacer * 2 $spacer * 2;
                i {
                    margin-right: $spacer *2;
                    font-size: $font-size-sm;
                }
            }
        }
        &:hover{
            .btn-corner{
                opacity: 1;
                transition: 0.5s;
            }
            img{
                opacity:0.5;
            }
        }
    }
}

@mixin btn-corner {
    position: relative;
    border: 1px solid $black;
    color: $black;
    background-color: transparent;
    padding: $spacer * 2 $spacer * 12;
    font-size: $h6-font-size;
    line-height: 1;
    margin-left: auto;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        border-left: $spacer * 4 transparent solid;
        border-bottom: $spacer * 4 $primary solid;
    }

    &:hover {
        background-color: $primary;
        color: $white;

        &::after {
            border-bottom: $spacer * 4 $black solid;
        }
    }

    @content;
    
}